<% if (locals.errors) { %>
    <ul>
        <% for( let i = 0; i < errors.length; i++ ) { %>
            <li style="list-style: none; color: red;"><%-errors[i].msg%></li>
        <% } %>
    </ul>
<% } %>