<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new message</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <h2> <%= locals.currentUser.username %> post a new message</h2>
        <form action="/createmessage" method="post">
            <div class="title-input">
                <label for="title">ENTER THE TITLE</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="text-input">
                <label for="text">ENTER YOUR MESSAGE</label>
                <textarea name="text" id="text"></textarea>
            </div>
            <button type="submit">Post your message</button>
        </form>
    </div>
</body>
</html>