<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<%- include('partials/header') %>
<% if (locals.currentUser) { %>
    <h3>Welcome <%= currentUser.firstname + " " + currentUser.lastname %></h3>
<% } else { %>
    Welcome
<%} %>
    <div class="messages-container">
        <% if (locals.messages.length === 0) { %>
            <h3>No message added yet</h3>
        <% } else {%>
            <% locals.messages.forEach(messageInfo => { %>
                <%- include('partials/message', {messageInfo: messageInfo}) %>
            <% }) %>
        <%} %> 
        
    </div>
</body>
</html>