<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new user</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>SIGN UP </h1>
    <%- include('partials/errors', {errors: locals.errors}) %>
    <form action="/signup" method="post">
        <label for="firstname">
            Enter your first name
            <input type="text" name="firstname" id="firstname">
        </label>
        <label for="lastname">
            Enter your last name
            <input type="text" name="lastname" id="lastname">
        </label>
        <label for="username">
            Enter your username
            <input type="text" name="username" id="username">
        </label>
        <label for="password">
            Enter your password
            <input type="password" name="password" id="password">
        </label>
        <label for="confirmPassword">
            confirm your password
            <input type="password" name="confirmPassword" id="confirmPassword">
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>