* {
    box-sizing: border-box;
    margin: 0%;
}

html,
body {
    height: 100%;
}

nav {
    display: flex;
    background-color: burlywood;
    padding: 30px 10px;
    justify-content: space-between;
}

.right-side {
    font-size: 18px;
}

.right-side a {
    margin: 0 10px;
}

.left-side {
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: black;
}
