body {
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    justify-self: center;
    /* flex-grow: 2; */
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 3px ridge gray;
    background-color: #eee;
    gap: 15px;
}

.container h2 {
    margin: 0 0 20px 0;
}

label {
    display: block;
    margin: 10px 0;
}

.title-input {
    margin-bottom: 15px;
}

label + input {
    width: 100%;
    height: 40px;
    font-size: 25px;
}

input:focus {
    border: 3px solid blue;
    box-shadow: 3px 5px 3px blue;
}

textarea:focus {
    border: 3px solid blue;
    box-shadow: 3px 5px 3px blue;
}

button {
    margin: 15px 0 0 0;
    padding: 15px 10px;
    font-size: 20px;
}