body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 55px;
    border: 3px ridge gray;
}

input {
    display: block;
    margin: 10px 0 15px 0;
    font-size: 18px;
}

button {
    padding: 10px;
}
